<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>the SLOW_SOURCE Project</title>
        <link href="{{ url_for('static', filename='home.css') }} " rel="stylesheet" type="text/css" >
        <link href="{{ url_for('static', filename='normalize.css') }} " rel="stylesheet" type="text/css" >
    </head>

    <body>
        <header>
            <h1> The SLOW_SOURCE Project</h1> 
        </header>

        <section class="menu">

            <div class="menu_page1">
                <a href="page1.html">
                <img src="../static/Images/atom.png"/>
                <h2>Page 1 </h2> </a>
            </div>

            <div class="menu_page2">
                <a href="page2.html">
                <img src="../static/Images/black-hole.png"/>
                <h2>Page 2</h2> </a>
            </div>

            <div class="menu_page3">
                <a href="page3.html">
                <img src="../static/Images/earth.png"/>
                <h2>Page 3</h2> </a>
            </div>

            <div class="menu_page4">
                <a href="page4.html">
                <img src="../static/Images/satellite-orbit.png"/>
                <h2>Page 4</h2> </a>
            </div>

            <div class="menu_page5">
                <a href="page5.html">
                <img src="../static/Images/sun-black-shape-of-a-circle-with-triangles.png"/>
                <h2>Page 5</h2> </a>
            </div>

            <div class="menu_news">
                <a href="news.html">
                <img src="../static/Images/text-lines-on-paper.png"/>
                <h2>News</h2> </a>
            </div>

        </section>
        
       </body>
</html>